@{
    ViewBag.Title = "Postpaid Transaction Batches";   //**Should be payments for owners
    ViewBag.Icon = "icon-money";
    ViewBag.HeaderSummary = "List of Postpaid Transaction Batches";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuName = "Payment";
   
        var SecurityUser = (SecurityUser)HttpContext.Current.User;
    
}
@model CRL.UI.MVC.Areas.Payment.Models.ViewPageModels.AccountBatchesIndexViewModel 
@using CRL.UI.MVC.Common.Enums
@using CRL.Infrastructure.Enums
@using CRL.Model.FS.Enums
@using CRL.Infrastructure.Authentication
@{
   

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "searchgrid",
        Url = Url.Action("GetAccountBatchesPartialView") 

    };
}

<script src="~/Scripts/bootbox.min.js"></script>
@*We need to also check for the roles here*@
@*@if (((SecurityUser)HttpContext.Current.User).IsOwnerUser == false)
{
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">+ Make new payment<span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Pay Registered Client", "CreateSubmit", new { _FSTransactionCategory = FinancialStatementTransactionCategory.SecurityInterest })</li>
            <li>@Html.ActionLink("Pay Unregistered Client", "CreateSubmit", new { _FSTransactionCategory = FinancialStatementTransactionCategory.FinancialLease })</li>           
        </ul>
    </div>
}*@
<div class="clear"></div>
@*@using Enterprise.DomainDesign.Service.Common.Messages*@
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>List
                </h3>
            </div>
            <div class="box-content"><div class="form-horizontal">
                @using (Ajax.BeginForm(ajaxOpts))
                {
                    
                    <div class="control-group">
                        <label class="control-label">Batch Creation Date</label>
                        <div class="controls">
                            <label class="radio">
                                @Html.RadioButtonFor(model => model._ViewAccountBatchesJqGrid.UseStartEndDateOption, "true")                          
                                Use start and end date
                            </label>
                            <label class="radio">
                                @Html.RadioButtonFor(model => model._ViewAccountBatchesJqGrid.UseStartEndDateOption, "false")
                                Use month and year
                            </label>
                        </div>
                    </div>
                    <div id="pnlStartEndDate">
                        <div class="control-group">
                            <label for="textfield" class="control-label">Start Date</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model._ViewAccountBatchesJqGrid.StartDate, new { Id = "StartDate" })
                                @Html.ValidationMessageFor(model => model._ViewAccountBatchesJqGrid.StartDate)
                                @*<input type="text" name="textfield" id="textfield" placeholder="Text input" class="input-xlarge">*@
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textfield" class="control-label">End Date</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model._ViewAccountBatchesJqGrid.EndDate, new { Id = "EndDate" })
                                @Html.ValidationMessageFor(model => model._ViewAccountBatchesJqGrid.EndDate)
                                @*<input type="text" name="textfield" id="textfield" placeholder="Text input" class="input-xlarge">*@
                            </div>
                        </div>
                    </div> 
                    <div id="pnlMonthYear">
                        <div class="control-group">
                            <label for="textfield" class="control-label">Month</label>
                            <div class="controls">
                                @Html.DropDownListFor(model => model._ViewAccountBatchesJqGrid.SelectedMonthList, Model._ViewAccountBatchesJqGrid.MonthsList)
                                @Html.ValidationMessageFor(model => model._ViewAccountBatchesJqGrid.SelectedMonthList)
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="textfield" class="control-label">Year</label>
                            <div class="controls">
                                @Html.TextBoxFor(model => model._ViewAccountBatchesJqGrid.SelectedYear)
                                @Html.ValidationMessageFor(model => model._ViewAccountBatchesJqGrid.SelectedYear)
                            </div>
                        </div>

                 
                    </div>
                                          
                     <div class="form-actions">
                        <button type="Submit" class="btn btn-primary" id="btnPreview">Submit</button>
                    </div>
                   
                
                
                }
                  @Html.Action("GetAccountBatchesPartialView",Model._ViewAccountBatchesJqGrid)
            </div></div>
        </div>
    </div>
</div>
<script>
    $("#pnlMonthYear").hide();
    var dateFormatMode;
    $(document).ready(function () {
        @if (Request.UserAgent.Contains("Edge") || Request.Browser.Browser == "InternetExplorer" || Request.Browser.Browser == "Safari")
        { 
        <text>
        dateFormatMode = 'dd/mm/yy';
        </text>
        }
        else
        {
         <text>
        dateFormatMode = 'dd/M/yy';
        </text>
        }

        $("#StartDate").datepicker({ dateFormat: dateFormatMode });
        $("#EndDate").datepicker({ dateFormat: dateFormatMode });

        $("input[name='_ViewAccountBatchesJqGrid.UseStartEndDateOption']:radio").change(function () {

            if ($(this).val() == "true") {
                $('#pnlMonthYear').hide();
                $('#pnlStartEndDate').show();
            }
            else {
                $('#pnlMonthYear').show();
                $('#pnlStartEndDate').hide();
            }
        });
    });
       



</script>
