@model CRL.UI.MVC.Models.Report.ReportBaseViewModel
@using CRL.UI.MVC.Models.Report.ViewModel
@using CRL.UI.MVC.Models.Report.ReportsViewModel
@using CRL.UI.MVC.HTMLHelpers
@using CRL.Infrastructure.Authentication
<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            <div class="control-label">Filter by transaction date</div>
            <div class="controls">
                @Html.RadioButtonFor(model => ((ClientExpenditureByTransactionViewModel )model).UseStartEndDateOption, "true") Filter transaction date by specifying start and end date<br />
            @Html.RadioButtonFor(model => ((ClientExpenditureByTransactionViewModel)model).UseStartEndDateOption, "false") Filter transaction date by specifying month and year
            </div>
        </div>
        <div id="pnlStartEndDate">
            <div class="control-group">
                <div class="control-label">Start Date</div>
                <div class="controls">
                    @Html.TextBoxFor(model => ((ClientExpenditureByTransactionViewModel)model).StartDate)
                    @Html.ValidationMessageFor(model => ((ClientExpenditureByTransactionViewModel)model).StartDate)
                </div>
            </div>

            <div class="control-group">
                <div class="control-label">End Date</div>
                <div class="controls">
                    @Html.TextBoxFor(model => ((ClientExpenditureByTransactionViewModel)model).EndDate)
                    @Html.ValidationMessageFor(model => ((ClientExpenditureByTransactionViewModel)model).EndDate)
                </div>
            </div>

        </div>
           <div id="pnlMonthYear">
        <div class="control-group">
            <div class="control-label">Month</div>
            <div class="controls">
                @Html.DropDownListFor(model => ((ClientExpenditureByTransactionViewModel)model).SelectedMonthList, ((ClientExpenditureByTransactionViewModel)Model).MonthsList)
                @Html.ValidationMessageFor(model => ((ClientExpenditureByTransactionViewModel)model).SelectedMonthList)
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">Year</div>
            <div class="controls">
                @Html.DropDownListFor(model => ((ClientExpenditureByTransactionViewModel)model).SelectedYear, ((ClientExpenditureByTransactionViewModel)Model).YearList)
                @Html.ValidationMessageFor(model => ((ClientExpenditureByTransactionViewModel)model).SelectedYear)
            </div>
        </div>
    </div>
            @if (((CRL.Infrastructure.Authentication.SecurityUser)Context.User ).IsOwnerUser)
        {
        <div class="control-group">
    <div class="control-label">
        @Html.LabelForRequired(model => ((ClientExpenditureByTransactionViewModel)model).InstitutionId )
    </div>
    <div class="controls">
        @Html.DropDownListFor(model => ((ClientExpenditureByTransactionViewModel)model).InstitutionId, new SelectList(((ClientExpenditureByTransactionViewModel)Model).ClientList , "Value", "Text", ((ClientExpenditureByTransactionViewModel)Model).InstitutionId ), "")
        @Html.ValidationMessageFor(model => ((ClientExpenditureByTransactionViewModel)model).InstitutionId)
    </div>
</div>
            }

    
    </div>

</div>




<script>
    if ($("input[name='UseStartEndDateOption']:checked").val() == "true") {
        $('#pnlMonthYear').hide();
        $('#pnlStartEndDate').show();
    }
    else {
        $('#pnlMonthYear').show();
        $('#pnlStartEndDate').hide();
    }
    $("#clientstatus").hide();
    var dateFormatMode;
    $(document).ready(function () {
        @if (Request.UserAgent.Contains("Edge") || Request.Browser.Browser == "InternetExplorer" || Request.Browser.Browser == "Safari")
        { 
        <text>
        dateFormatMode = 'dd/mm/yy';
        </text>
        }
        else
        {
         <text>
        dateFormatMode = 'dd/M/yy';
        </text>
        }

        $("input[name='StartDate']:text").datepicker({ dateFormat: dateFormatMode });
        $("input[name='EndDate']:text").datepicker({ dateFormat: dateFormatMode });

        $("input[name='UseStartEndDateOption']:radio").change(function () {

            if ($(this).val() == "true") {
                $('#pnlMonthYear').hide();
                $('#pnlStartEndDate').show();
            }
            else {
                $('#pnlMonthYear').show();
                $('#pnlStartEndDate').hide();
            }
        });
    });



</script>
