@model CRL.UI.MVC.Areas.Payment.Models.ViewPageModels.InterSwitchTransactionIndexViewModel
@using CRL.UI.MVC.Common.Enums;
@using CRL.Infrastructure.Configuration;
@{
    
    ViewBag.Title = "Payments";
    ViewBag.Icon = "icon-money";
    ViewBag.HeaderSummary = "WebPay Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuName = "Payment";

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "searchgrid",
        Url = Url.Action("SubmbitSearchFilterForJqGrid", "InterSwitch"),
        OnFailure = "Failure"
    };
}


<script src="~/Scripts/bootbox.min.js"></script>

<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>InterSwitch Transaction List
                </h3>
            </div>
            <div class="box-content">
                @using (Ajax.BeginForm(ajaxOpts))
                {
                    <div class="form-horizontal">

                        <fieldset>
                            <legend>Filter InterSwitch Transactions</legend>
                            <div class="control-group">
                                <label class="control-label">Date Search Method</label>
                                <div class="controls">
                                    <label class="radio">
                                        @Html.RadioButtonFor(model => model._InterSwitchTransactionsJqGridViewModel.UseStartEndDateOption, "true")
                                        Use start and end date
                                    </label>
                                    <label class="radio">
                                        @Html.RadioButtonFor(model => model._InterSwitchTransactionsJqGridViewModel.UseStartEndDateOption, "false")
                                        Use month and year
                                    </label>
                                </div>
                            </div>
                            <div id="pnlStartEndDate">
                                <div class="control-group">
                                    <label class="control-label">Start Date</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model._InterSwitchTransactionsJqGridViewModel.StartDate, new { Id = "StartDate" })
                                        @Html.ValidationMessageFor(model => model._InterSwitchTransactionsJqGridViewModel.StartDate)
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="control-label">End Date</div>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model._InterSwitchTransactionsJqGridViewModel.EndDate, new { Id = "EndDate" })
                                        @Html.ValidationMessageFor(model => model._InterSwitchTransactionsJqGridViewModel.EndDate)
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="textfield" class="control-label">Transaction Ref. No.</label>
                                <div class="controls">
                                    @Html.TextBoxFor(model => model._InterSwitchTransactionsJqGridViewModel.TransactionRefNumber, new { Id = "TransactionRefNo" })
                                    @Html.ValidationMessageFor(model => model._InterSwitchTransactionsJqGridViewModel.TransactionRefNumber)
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="textfield" class="control-label">Transaction Type</label>
                                <div class="controls">
                                    @Html.DropDownListFor(model => model._InterSwitchTransactionsJqGridViewModel.SelectedTransactionLogTypeId, Model._InterSwitchTransactionsJqGridViewModel.TransactionLogTypeItems)
                                    @Html.ValidationMessageFor(model => model._InterSwitchTransactionsJqGridViewModel.SelectedTransactionLogTypeId)
                                </div>
                            </div>
                            <div id="pnlMonthYear">
                                <div class="control-group">
                                    <label for="textfield" class="control-label">Month</label>
                                    <div class="controls">
                                        @Html.DropDownListFor(model => model._InterSwitchTransactionsJqGridViewModel.SelectedMonthList, Model._InterSwitchTransactionsJqGridViewModel.MonthsList)
                                        @Html.ValidationMessageFor(model => model._InterSwitchTransactionsJqGridViewModel.SelectedMonthList)
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label for="textfield" class="control-label">Year</label>
                                    <div class="controls">
                                        @Html.TextBoxFor(model => model._InterSwitchTransactionsJqGridViewModel.SelectedYear)
                                        @Html.ValidationMessageFor(model => model._InterSwitchTransactionsJqGridViewModel.SelectedYear)
                                    </div>
                                </div>

                            </div>
                            <div class="controls">
                                <button type="submit" class="btn btn-primary">Submit Search</button>
                            </div>
                        </fieldset>
                        <div class="clear"></div>

                        <div class="control-group">
                            <div class="well well-small">
                                <div class="row" style="padding: 3px">


                                    <div class="span3"></div>
                                    <div class="span3">
                                        <p><span class="btn btn-flat red"><i class="icon-refresh"></i></span>- Requery Transanction</p>
                                    </div>
                                    <div class="span3">
                                        <p><span class="btn btn-flat green"><i class="icon-file-text-alt"></i></span>- View Transaction Details</p>
                                    </div>
                                    <div class="span3"></div>

                                </div>

                            </div>
                        </div>

                    </div>
                    @Html.Action("SubmbitSearchFilterForJqGrid", Model._InterSwitchTransactionsJqGridViewModel)
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

}


<script>


    $("#pnlMonthYear").hide();
    var dateFormatMode;
    $(document).ready(function () {

        @if (Request.UserAgent.Contains("Edge") || Request.Browser.Browser == "InternetExplorer" || Request.Browser.Browser == "Safari")
        { 
        <text>
        dateFormatMode = 'dd/mm/yy';
        </text>
        }
        else
        {
         <text>
        dateFormatMode = 'dd/M/yy';
        </text>
        }
        $("#StartDate").datepicker({ dateFormat: dateFormatMode });
        $("#EndDate").datepicker({ dateFormat: dateFormatMode });


        $("input[name='_InterSwitchTransactionsJqGridViewModel.UseStartEndDateOption']:radio").change(function () {

            if ($(this).val() == "true") {
                $('#pnlMonthYear').hide();
                $('#pnlStartEndDate').show();
            }
            else {
                $('#pnlStartEndDate').hide();
                $('#pnlMonthYear').show();

            }
        });
    });

</script>
